*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: blueviolet;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em,
    0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 5em 2em;
}

/* Typography */

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--projects {
  background-color: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 125px;
  max-height: 125px;
}

.nav {
  position: fixed;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 350ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background-color: transparent;
  border: 0;
  height: 2.5em;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/* Intro Section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

@media (min-width: 1000px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__title--intro {
    grid-template: title;
    margin-top: 0.5em;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-template: subtitle;
    margin-top: 0;
  }
}

/* About Me */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  position: relative;
  z-index: 2;
}

.about-me:before {
  content: "";
  background-color: var(--clr-dark);
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200 px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about,
  .section__title--about {
    grid-column: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* Skills & Attributes Section */

.my-skills {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
}

.section__title--skills {
  color: var(--clr-accent);
  position: relative;
  margin-top: 2em;
}

.section__title--skills::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background-color: var(--clr-light);
  opacity: 0.5;
}

.skill {
  flex-basis: 31%;
  border: 1px solid black;
  padding: 2em;
  margin: 1%;
}

.skill__button {
  background-color: #555;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: 500ms;
}

.skill__button:hover {
  background-color: var(--clr-accent);
}

@media (min-width: 800px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.skill__page {
  width: 1000px;
  margin: 0 auto;
}

.skill__page--title {
  text-align: center;
  margin: 1rem auto;
}

.skill__img {
  margin: 2rem 0;
}

/* Courses Section */

.my-courses {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.courses__item {
  background: var(--clr-accent);
  overflow: hidden;
  position: relative;
}

.courses__img {
  transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.courses__item:focus {
  position: relative;
  z-index: 2;
}

.courses__img:hover,
.courses__item:focus .courses__img {
  opacity: 0.75;
}

.courses__button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 500ms;
}

.courses__button:hover {
  background-color: var(--clr-accent);
}

.courses__intro {
  position: relative;
}

@media (min-width: 1000px) {
  .courses__intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .courses__thumb {
    grid-area: img;
    min-width: 500px;
    position: relative;
    z-index: 2;
  }
}

/* Footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Invidudual Portfolio Item */

.courses-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.courses-item-individual p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.courses-item__caption {
  text-align: center;
}

.courses-item-img {
  margin: 2rem 0;
}

.courses__subtitle {
  width: 500px;
}

/* Projects */

.my-projects {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
  margin: 0 auto;
}

.project {
  flex-basis: 48%;
  border: 1px solid black;
  padding: 2em;
  margin: 1%;
}

.my-projects__img {
  margin: 0 auto;
}

@media (min-width: 800px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
}

/* Involvement */

.involvement {
  margin: 5em auto;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  position: relative;
  z-index: 2;
  text-align: center;
}

.involvement:before {
  content: "";
  background-color: var(--clr-dark);
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

.club {
  flex-basis: 31%;
  padding: 2em;
  margin: 1%;
}

@media (min-width: 800px) {
  .clubs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.club__img {
  margin: 1em auto;
  max-width: 150px;
  max-height: 150px;
}
